#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }

html{
    background-image: linear-gradient(to left, white 0%, #8adafa 100%);

}

article h1{
    border-top: 3px solid blue;
    color: blue;
}

article h2{
    color: blue;
}
article img{
    float: left;
}

article{
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dotted blue;
    column-gap: 2em;
    margin-left: 2em;
}

article p::first-letter{
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}

body{
    width: 95%;
    margin: 15px auto;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
}

aside ol{
    width: 20%;
    list-style-type: upper-roman;
}
aside ul{
    list-style-type: square;
}

aside.fixed{
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0;
    border: 3px solid blue;
    background-color: skyblue;
   
}